.bodyContainer {
    width: 83.33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sidebarContainer {
    display: flex;
    margin-left: 32px;
}


.sidebarContainerWidth {
    width: calc(4/12 * 100%);
}

@media (max-width: 768px) {
    .sidebarContainerWidth {
        width: calc(5/12 * 100%);
    }
}
.customizableCheckbox {
    margin-right: 4px;
    margin-left:10px
}