.container{
    background-color: black;
    color:white ; 
    padding:30px;
}
.innerContainer{
    margin-bottom:16px;
}
.innerContainer h3{
    margin:8px;
    font-size:18px;
}
.innerContainer h4{
    margin:8px;
}
.emailInputBox{
    margin:10px;
    padding:12px;
    border-radius:8px;
}
.subscribeButton{
    border:1px solid;
    padding:12px;
    border-radius:8px;
}
.contactContainer{
    margin:8px;
    border-top:2px solid;
}
.contactContainer h3{
    font-size:24px;
}

.currencyContainer{
    margin:8px;
    border-top:2px solid;
}
.currencyContainer h3{
    font-size:24px;
}

.mettamusseContainer{
    margin:8px;
    border-top:2px solid;
}
.mettamusseContainer div{
    display:flex;
    justify-content:space-between;
    margin-top:16px;
    margin-bottom:16px;
    font-weight:bold;
    font-size:30px;
}
.mettamusseContainer div p{
    margin-bottom:4px;
    margin-top:4px;
}
.quickLinkContainer{
    margin:8px;
    border-top:2px solid;
}
.quickLinkContainer div{
    display:flex;
    justify-content:space-between;
    margin-top:16px;
    margin-bottom:16px;
    font-weight:bold;
    font-size:30px;
}
.quickLinkContainer div p{
    margin-bottom:4px;
    margin-top:4px;
}
.followContainer{
    margin:8px;
    border-top:2px solid;
}
.followContainer div{
    display:flex;
    justify-content:space-between;
    margin-top:16px;
    margin-bottom:16px;
    font-weight:bold;
    font-size:30px;
}
.followContainer div p{
    margin-bottom:4px;
    margin-top:4px;
}
.paymentOption{
    margin:8px;
}
.payment{
    display:flex;
    flex-wrap:wrap;
    margin:8px;
    gap:3px;
}