.container{
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin:8px;
}

.filters{
    display:flex;
    justify-content:space-between;
}
.filterName{
    font-weight:600;
}
.unselectOption{
    text-decoration:underline;
    font-size:16px;
    font-weight:400;
    margin:2px;
}
.filterOptions{
    margin:1px;
}
.optionName{
    margin:8px;
}