.recommendbox {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-top: 0.5px solid #ad9d9d;
    border-bottom:0.5px solid #ad9d9d;
    padding: 0.5rem;
}
.recommendboxdiv{
    display: flex;
    gap:10px;
}
.recommendfilterbutton{
    text-decoration: underline;
    font-weight:lighter;
}
.recommendselect{
    font-weight: bold; 
  display: flex; 
  padding: 0.5rem;
  
}
.recommendoption{
    font-weight: 250;
    
}
